
/server/transcriptome/__init__.pyc
/server/transcriptome/settings.pyc
/server/transcriptome/transcriptomeapp/__init__.pyc
/server/transcriptome/transcriptomeapp/admin.pyc
/server/transcriptome/transcriptomeapp/management/__init__.pyc
/server/transcriptome/transcriptomeapp/management/commands/__init__.pyc
/server/transcriptome/transcriptomeapp/management/commands/loaddata.pyc
/server/transcriptome/transcriptomeapp/models.pyc
/server/transcriptome/transcriptomeapp/urls.pyc
/server/transcriptome/transcriptomeapp/views.pyc
/server/transcriptome/urls.pyc
/server/transcriptome/mm9_hydrolysis.bed
/server/transcriptome/filtered_transcriptome.gtf
/server/transcriptome/settings.py
/midreport/Proposal.synctex.gz
/midreport/Proposal.aux
/midreport/Proposal.log
/server/transcriptome/sqlite - Copy.db
/midreport/Proposal.pdf
/midreport/Proposal.bbl
/midreport/Proposal.blg
/midreport/Proposal.dvi
/server/transcriptome/head_mm9_hydrolysis.bed
/server/transcriptome/head_re_filtered_transcriptome.gtf
/server/transcriptome/head_re_filtered_transcriptome2.gtf
/server/transcriptome/mm9_hydrolysis - Copy.pro
/server/transcriptome/mm9_hydrolysis.pro
/server/transcriptome/re_filtered_transcriptome.gtf
/server/transcriptome/transcriptomeapp/management/commands/debug_loaddata.pyc
/server/transcriptome/transcriptomeapp/management/commands/view_gene.pyc
/server/transcriptome/debug_data.bed
/server/transcriptome/static/lime
/server/transcriptome/static/closure
/server/transcriptome/transcriptomeapp/static/lime
/server/transcriptome/sqlite.db
/server/transcriptome/top_reads.bed
/server/transcriptome/transcriptomeapp/static/closure/
/utilities/head_mm9_hydrolysis.bed
/utilities/mm9_hydrolysis.bed
/utilities/mm9_hydrolysis.pro
/utilities/re_filtered_transcriptome.gtf
/server/transcriptome/part_mm9_hydrolysis.pro
/server/transcriptome/transcriptomeapp/management/commands/loadtruth.pyc
/utilities/transcriptome.gtf
/utilities/head_mm9_hydrolysis.bed
/utilities/mm9_hydrolysis.bed
/utilities/mm9_hydrolysis.pro
/utilities/re_filtered_transcriptome.gtf
/utilities/test_transcriptome.gtf
/utilities/filtered_transcriptome.gtf
/utilities/filtered2.gtf
/utilities/re_filtered_transcriptome.gtf
/C:/Users/Seamfix90/Documents/classproject/6.878/main/utilities/transcriptome.gtf
/utilities/filtered_transcriptome.gtf
/server/transcriptome/transcriptomeapp/management/commands/score_results.pyc
/server/transcriptome/transcriptomeapp/management/commands/calc_accuracy.pyc
/finalreport/finalreport.aux
/finalreport/finalreport.bbl
/finalreport/finalreport.blg
/finalreport/finalreport.dvi
/finalreport/finalreport.log
/finalreport/finalreport.pdf
/finalreport/finalreport.synctex.gz
/utilities/Analysis.asv
/utilities/Count Per Exon Count.fig
/utilities/Expression Accuracy Fraction.pdf
/utilities/Expression Accuracy.pdf
/utilities/Frontend Score.pdf
/utilities/Mean Truth Score Per Exon Count.fig
/utilities/Precision Hist.fig
/utilities/Precision Per Exon Count.fig
/utilities/Precision.pdf
/utilities/Recall Hist.fig
/utilities/Recall Per Exon Count.fig
/utilities/Recall.pdf
/utilities/Score Per Exon Count - all versions.fig
/utilities/Score Per Exon Count - version 1.0.0.fig
/utilities/Score Per Exon Count - version 1.1.0.fig
/utilities/Truth Scores Hist.fig
/utilities/export_fig/.ignore/ghostscript.txt
/utilities/export_fig/.ignore/gs_font_path.txt
/utilities/export_fig/copyfig.m
/utilities/export_fig/eps2pdf.m
/utilities/export_fig/export_fig.m
/utilities/export_fig/fix_lines.m
/utilities/export_fig/ghostscript.m
/utilities/export_fig/isolate_axes.m
/utilities/export_fig/license.txt
/utilities/export_fig/pdf2eps.m
/utilities/export_fig/pdftops.m
/utilities/export_fig/print2array.m
/utilities/export_fig/print2eps.m
/utilities/export_fig/user_string.m
/utilities/precision.csv
/utilities/recall.csv
/utilities/scoreWithExonCount.csv
/utilities/scoreWithExonCount_version1.0.0.csv
/utilities/scoreWithExonCount_version1.1.0.csv
/utilities/truthPrecisionWithExonCount.csv
/utilities/truthRecallWithExonCount.csv
/utilities/truthScoreWithExonCount.csv
/utilities/truthScores.csv
/finalreport/texput.log